body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

.sidebar{
    height:100%;
    width:200px;
    position:fixed;
    top:0;
    left: 0;
    background: #978c8c;
    padding-top:20px;
    /* color:white;*/
}
.sidebar a{
    padding:10px 15px 10px 5px;
    text-decoration:none;
    font-size:18px;
    color:rgb(87, 24, 24);
    display:block;
}
.sidebar a:hover{
    background-color: #555;
    color:white;
}
.sidebar h1{
    color:rgb(33, 12, 12);
    text-align:center;
}
.container{
    margin-left:200px;
    padding:20px;
    display:flex;
}

.sidebar ul li{
    padding:0;
    text-align:center;
}
.sidebar ul{
    list-style-type: none;
    padding:0;
}